<p style="color: green"><%= notice %></p>

<h1>Todos</h1>

<div>
  <div>
      <%= render "form", todo: Todo.new %> 
  </div>
  
  <ul id="todos">
  <% @todos.each do |todo| %>
      <%= render todo %>    <!-- view/todo/_todo.html.erb -->
  <% end %>
</div>        
